@import "../variables";

.categories {
	ul {
		display: flex;

		li {
			background-color: #af0000;
			padding: 13px 30px;
			border-radius: 30px;
			border: 1px solid #df0000;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			color: #fff;
			transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
			@include noselect();

			&:hover {
				background-color: #df0000;
				transform: scale(1.03);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background: linear-gradient(180deg, #ffaa13 32%, #df0000 90%);
				color: #fff;
			}
		}
	}
}
