@import "../variables";

.categories {
	flex: 1;
	max-width: 80%;
	overflow: auto;
	@media (max-width: 768px) {
		max-width: 100%;
		margin-bottom: 40px;
	}
	ul {
		display: flex;

		li {
			background-color: #af0000;
			padding: 13px 30px;
			border-radius: 30px;
			border: 1px solid #df0000;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			color: #fff;
			transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
			@include noselect();
			@media (max-width: 670px) {
				border-radius: 40px;
				padding-top: 10px;
				margin-top: 5px;
				display: flex;
				align-items: center;
			}

			&:hover {
				background-color: #df0000;
				transform: scale(1.03);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background: linear-gradient(180deg, #ffaa13 32%, #df0000 90%);
				color: #fff;
			}
		}
	}
}
