$black: #051331;
$background: linear-gradient(110deg, #af0000 50%, #df0000 20%);
$gray-line: #df0000;
$orange: linear-gradient(110deg, #af0000 50%, #df0000 20%);

$container-width: 90%;

$duration: 0.15s;
